/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, p, h4, li, a, label, input, textarea, legend, figcaption {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

p, li, a, label, input, textarea, legend, figcaption {
  color: #757575;
}

article:nth-child(odd) {
  box-shadow: 0 0px 4px 0px #cacaca;
  background-color: #FAFAFA;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

p, h4, li, a, label, input, textarea, legend, figcaption {
  font-size: 1.25rem;
}

h1 {
  padding: 2rem 0;
  width: 100%;
}

h2 {
  padding: 1.75rem 0;
  width: 100%;
}

h3 {
  padding: 1.5rem 0;
}

p, h4, li, label, input, textarea, legend, figcaption {
  padding: 1.25rem 0;
}

a {
  padding: 8px;
}

h1, h2, h3, figcaption, li {
  text-align: center;
}

.burger-button {
  background-color: #111111;
  border: #111111;
  cursor: pointer;
  width: 44px;
  height: 44px;
  margin: 8px;
  padding: 0;
  transition: transform 1s ease;
}
.burger-button .burger-button-bar {
  display: block;
  height: 4px;
  margin: 8px;
  background-color: #FFFFFF;
  border-radius: 2px;
  transition: transform 1s ease;
}

.burger-button.active .burger-button-bar:nth-child(1) {
  transform: rotate(45deg) translate(12px, 5px);
}

.burger-button.active .burger-button-bar:nth-child(2) {
  transform: scale(0);
}

.burger-button.active .burger-button-bar:nth-child(3) {
  transform: rotate(-45deg) translate(12px, -5px);
}

.burger-button.active + .header-navbar {
  display: block;
}

@media screen and (min-width: 1024px) {
  button {
    display: none;
  }
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li a {
  transition: ease-in-out 0.5s;
}

@media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    top: -61px;
    left: 0;
    right: 0;
    transition: top 1s;
  }
}
header nav {
  background-color: #111111;
  justify-content: space-between;
}
header nav #burger-button.active + .header-navbar {
  display: block;
}
header nav figure a {
  display: block;
  padding: 8px 12px;
}
header nav figure a img {
  width: 40px;
  border-radius: 50%;
}
header nav .header-navbar {
  background-color: #222222;
  position: absolute;
  top: 60px;
  width: 100%;
  display: none;
  transition: opacity 1s;
  z-index: 100;
}
header nav .header-navbar li {
  border-bottom: 2px solid #333333;
}
header nav .header-navbar li a {
  width: 100%;
  color: #FFFFFF;
}
header nav .header-navbar li a:hover {
  color: #757575;
}
header nav .header-navbar li ul {
  justify-content: space-evenly;
  flex-direction: row;
}
header nav .header-navbar li ul li {
  border: none;
  padding: 0;
}
header article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header article h1 {
  width: 100%;
}
header article section {
  width: 50%;
  box-shadow: 0 1px 4px 0px #cacaca;
}
header article section p {
  color: #333333;
}
header article section:last-child {
  box-shadow: 0 1px 4px 0px #cacaca;
  background-color: #111111;
}
header article section:last-child h2 {
  color: #FFFFFF;
}
header article section:last-child p {
  text-align: end;
  color: #FFFFFF;
}
header .header-animation {
  position: relative;
}
header .header-animation h2 {
  font-size: 1.5rem;
  padding: 1 0rem;
}
header .header-animation p {
  font-size: 0.75rem;
  padding: 0.75rem;
  justify-content: center;
}
header .front-end {
  background-color: white;
  position: absolute;
  top: 128px;
  width: 50%;
  height: 175px;
  left: 0;
  transition: ease-in-out 2s;
  z-index: 2;
}
header .front-end:hover {
  z-index: 50;
  width: 100%;
}
header .back-end {
  position: absolute;
  top: 128px;
  width: 50%;
  height: 175px;
  right: 0;
  transition: ease-in-out 2s;
  z-index: 2;
}
header .back-end:hover {
  z-index: 3;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 61px;
  }
  header nav .header-navbar {
    background-color: #111111;
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav .header-navbar li {
    border-bottom: none;
    width: auto;
  }
  .front-end {
    top: 96px !important;
  }
  .front-end p {
    font-size: 1.25rem !important;
  }
  .front-end:hover p {
    text-align: center;
  }
  .back-end {
    top: 96px !important;
  }
  .back-end p {
    font-size: 1.25rem !important;
  }
  .back-end:hover p {
    text-align: center;
  }
  .header-animation {
    margin-top: 61px;
  }
}
form {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 4px 0px #cacaca;
}
form fieldset {
  width: 80%;
}
form fieldset div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form fieldset div input,
form fieldset div textarea {
  color: #333333;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  border: #757575 1px solid;
}
form fieldset div label:hover {
  color: #333333;
  cursor: pointer;
}
form fieldset div input:focus,
form fieldset div textarea:focus {
  background-color: #cacaca;
}
form fieldset div input::-moz-placeholder, form fieldset div textarea::-moz-placeholder {
  color: #cacaca;
}
form fieldset div input::placeholder,
form fieldset div textarea::placeholder {
  color: #cacaca;
}
form fieldset .send {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
}
form fieldset .send input {
  display: block;
  padding: 10px 20px;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}
form fieldset .send:hover input {
  background-color: #757575;
  color: #FFFFFF;
}

footer {
  position: relative;
  max-height: 80px;
  border-top: 1px solid #cacaca;
  background-color: #F5F5F5;
}
footer div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 75px;
  height: 75px;
  bottom: 0px;
  left: 41%;
  background: none;
  bottom: 20px;
  background-color: #F5F5F5;
  border-radius: 50%;
  border-top: 1px solid #cacaca;
}
footer div:hover {
  border-top: 1px solid #757575;
  bottom: 25px;
}
footer div:hover i {
  color: #333333;
}
footer p {
  position: relative;
}
footer nav {
  position: relative;
  bottom: 65px;
  justify-content: center;
}
footer nav p {
  padding-left: 1.25rem;
}
footer nav ul {
  display: none;
}
footer nav ul li a:hover {
  color: #333333;
}

@media screen and (min-width: 768px) {
  footer div {
    left: 46%;
  }
}
@media screen and (min-width: 1024px) {
  footer div {
    left: 47%;
  }
  footer nav {
    justify-content: space-between;
  }
  footer nav ul {
    display: flex;
  }
}
.latest-work {
  margin-top: 175px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.latest-work figure {
  margin-bottom: 20px;
  padding-top: 15px;
  max-width: 80%;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 0px 4px 0px #cacaca;
  border-radius: 4px;
  transition: ease-in-out 1s;
}
.latest-work figure img {
  border-radius: 4px;
  background-color: #FAFAFA;
  padding: 20px;
  max-width: 75%;
}
.latest-work figure:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.latest-work figure:hover img {
  opacity: 0.75;
}
.latest-work figure:hover figcaption {
  color: #333333;
}

@media screen and (min-width: 768px) {
  .latest-work {
    justify-content: space-around;
  }
  .latest-work figure {
    max-width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .latest-work {
    justify-content: space-around;
  }
  .latest-work figure {
    max-width: 20%;
  }
}
.about article {
  padding: 0 20px;
  text-align: center;
  box-shadow: 0 0px 4px 0px #cacaca;
}
.about figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.about figure img {
  max-width: 60px;
}
.about article:nth-child(n+4) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about article:last-of-type {
  padding-bottom: 20px;
}
.about section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about section h3 {
  width: 100%;
}
.about section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.about section div figure {
  border-radius: 4px;
}
.about section div figure figcaption {
  min-height: 50px;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .about figure {
    width: 30%;
  }
  .about figure img {
    max-width: 200px;
  }
  .about section div {
    gap: 200px;
    margin-bottom: 50px;
    width: 60%;
  }
  .about section div figure img {
    min-width: 250px !important;
    height: 200px !important;
  }
  .about section div figure figcaption {
    font-size: 1.25rem;
  }
  .about .graphics {
    width: 100%;
  }
  .about .graphics figure {
    width: 20%;
  }
}
.projects article {
  width: 100%;
}
.projects article p {
  text-align: center;
}
.projects section {
  box-shadow: 0 0px 4px 0px #cacaca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects section article {
  box-shadow: 0 0px 4px 0px #cacaca;
}
.projects section article:nth-child(even) {
  background-color: #FAFAFA;
}
.projects section img {
  padding: 0 10px;
  max-width: 300px;
}
.projects section:nth-child(even) {
  background-color: #FAFAFA;
}
.projects article:last-of-type {
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .projects img {
    padding: 0 !important;
    max-width: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */