// Base colors

$black: #000000;
$darkestGray: #111111;
$darkerGray: #222222;
$darkGray: #333333;
$gray:#757575;
$lightGray:#cacaca;
$lighterGray:#F5F5F5;
$lightestGray:#FAFAFA;
$white:#FFFFFF;

// Elements colors

    //text
        $title:$darkGray;
        $text:$gray;
        $darkBackgroundText:$white;
        $lightBackgroundText:$darkGray;

    //background
        $footerBackground:$lighterGray;
        $lightBackground:$lightestGray;
        $darkBackground:$darkestGray;
        $header-navbar:$darkerGray;
        $darkBackgroundBorder:$darkGray;
        $boxShadow:$lightGray;

    //button 
        $button:$darkBackground;
        $buttonBorder:$darkBackground;
        $buttonText:$darkBackgroundText;
    
    //hover
        $hoverlightText:$gray;
        $hoverText:$darkGray;
