.latest-work {
  margin-top: 175px;
  padding-bottom: 20px;
  background-color: $lightBackground;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  figure {
    margin-bottom: 20px;
    padding-top: 15px;
    max-width: 80%;
    background-color: $white;
    text-align: center;
    box-shadow: 0 0px 4px 0px $boxShadow;
    border-radius: 4px;
    transition: ease-in-out 1s;
    img {
      border-radius: 4px;
      background-color: $lightBackground;
      padding: 20px;
      max-width: 75%;
    }
  }
  figure:hover{
    background-color: rgba(0, 0, 0, 0.1);
    img{
      opacity: 0.75;
    }
    figcaption{
      color: $hoverText;
    }
  }
}

@media screen and (min-width: 768px) {
  .latest-work {
    justify-content: space-around;
    figure {
      max-width: 40%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .latest-work {
    justify-content: space-around;
    figure {
        max-width: 20%;
    }
  }
}
