form{
    background-color: $lightBackground;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 60%;
        input, textarea{
            color: $title;
            padding-left: 10px;
            border-radius: 4px;
            outline: none;
            border:$gray 1px solid;
        }
        input:focus, textarea:focus{
            background-color: $lightGray;
        }
        input::placeholder, textarea::placeholder{
            color: $lightGray;
        }
    }
    .send{
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: center;
        input{
            display: block;
            padding: 20px;
            max-width: fit-content !important;
        }
        
    }
    .send:hover{
        input{
            background-color: $gray;
            color: $buttonText;
        }
    }
}