header {
  nav {
    background-color: $darkBackground;
    justify-content: space-between;

    #burger-button.active + .header-navbar {
      display: block;
    }

    figure {
      a {
        display: block;
        padding: 8px 12px;
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }

    .header-navbar {
      background-color: $header-navbar;
      position: absolute;
      top: 60px;
      width: 100%;
      display: none;
      transition: opacity 1s;
      z-index: 100;
      li {
        border-bottom: 2px solid $darkBackgroundBorder;
        a {
          width: 100%;
          color: $darkBackgroundText;
        }

        a:hover {
          color: $hoverlightText;
        }
        ul {
          justify-content: space-evenly;
          flex-direction: row;

          li {
            border: none;
            padding: 0;
          }
        }
      }
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      width: 100%;
    }

    section {
      width: 50%;
      box-shadow: 0 1px 4px 0px $boxShadow;

      p {
        color: $lightBackgroundText;
      }
    }

    section:last-child {
      box-shadow: 0 1px 4px 0px $boxShadow;
      background-color: $darkBackground;

      h2 {
        color: $darkBackgroundText;
      }

      p {
        text-align: end;
        color: $darkBackgroundText;
      }
    }
  }
  .header-animation{
    position: relative;
    h2{
      font-size: 1.5rem;
      padding: 1 0rem;
    }
    p{
      font-size: 0.75rem;
      padding: 0.75rem;
      justify-content: center;
    }
  }

  .front-end{
    background-color: white;
    position: absolute;
    top: 128px;
    width: 50%;
    height: 175px;
    left: 0;
    transition: ease-in-out 2s;
    z-index: 2;
  }
  .front-end:hover{
    z-index: 50;
    width: 100%;
  }
  
  .back-end{
    position: absolute;
    top: 128px;
    width: 50%;
    height: 175px;
    right: 0;
    transition: ease-in-out 2s;
    z-index: 2;
  }

  .back-end:hover{
    z-index: 3;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 61px;
    nav {
      .header-navbar {
        background-color: $darkBackground;
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        li {
          border-bottom: none;
          width: auto;
        }
      }
    }
  }
  .front-end{
    top:96px !important;
    p{
      font-size: 1.25rem !important;
    }
  }
  .front-end:hover{
    p{
      text-align: center;
    }
  }

  .back-end{
    top: 96px !important;
    p{
      font-size: 1.25rem !important;
    }
  }
  .back-end:hover{
    p{
      text-align: center;
    }
  }
  .header-animation{
    margin-top: 61px;
  }
}
