nav {
  display: flex;
  align-items: center;
  ul{
    display: flex;          
    align-items: center;
    li{
      a{
        transition: ease-in-out 0.5s;
      }
    }
  }
}

@media screen and (min-width: 1024px) { 
  .navbar {
    top: -61px;
    left: 0;
    right: 0;
    transition: top 1s;
  }
}
